.p-icon {
  --p-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--p-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .p-icon--$(val) {
    --p-icon-color: var(--p-color-$(val));
  }
}
